html {

}

body {
  margin: 0;
}

/* parts */
.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  opacity: .8;
}

.btn-primary {
  background-color: #0FA3B1;
  color: white;
  border-color: #0FA3B1;
}

.btn-secondary {
  background-color: #9398A1;
  color: white;
  border-color: #9398A1;
}

.notify {
  background-color: #9EE2E5;
  color: black;
  padding: 5px 20px;
  font-weight: 600;
  /* width: 100px; */
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.live-editor {
  margin: 10px;
}

.live-editor .body {
  display: flex;

}

.editor {
  width: 50%;
}

.live-editor input {
  font-size: 14px;
  padding: 3px 5px;
}

.editor textarea {
  font-size: 14px;
  resize: none;
  width: 100%;
  height: 500px;
  padding: 10px;
  box-sizing: border-box;
}

.editor textarea:focus {
  outline: none;
}

.preview {
  background-color: #ccc;
  height: 500px;
  width: 50%;
  box-sizing: border-box;
  padding: 10px 20px;
}

.notes-list .note-link {
  color: #0C8793;
  text-decoration: none;
}

.notes-list .note-link:hover {
  text-decoration: underline;
}